MAPPER_DB_NAME={{ ophidia_dimdb_name }}
MAPPERDB_HOST={{ hostvars[groups['ophidia_server'][0]].ansible_default_ipv4.address }}
MAPPERDB_PORT={{ ophidia_db_port }}
MAPPERDB_LOGIN={{ ophidia_db_user }}
MAPPERDB_PWD={{ ophidia_db_pwd }}
